<div class="main-grid">

  <mat-card class="grid-card employee-card">
    @if(agentOfTheMonth(); as agent) {
      <div class="content-card-information">
        <div class="employee-header">
          <img class="employee-avatar" src="assets/images/login-illustration.svg" alt="Ilustración de Agente">
          <div class="employee-info">
            <h3 class="employee-name">{{ agent.name }}</h3>
            <p class="employee-subtitle">Empleado del Mes</p>
          </div>
        </div>
        <div class="content-information">
          <div matListItemTitle>Miembro desde:<span class="content-text"> Enero, 2024</span></div>
          <div matListItemTitle>Correo: <span class="content-text"> {{ agent.email }}</span></div>
          <div matListItemTitle>Teléfono: <span class="content-text"> (+57) 310 123 4567</span></div>
          <div matListItemTitle>Categoría: <span class="content-text"> {{ agent.role | titlecase }}</span></div>
        </div>
      </div>
    } @else {
      <p>Cargando información del agente...</p>
    }
  </mat-card>

  <mat-card class="grid-card chart-card">
    <mat-card-header>
      <mat-card-title>Resumen General</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="chart-wrapper">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType"></canvas>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="grid-card actions-container-card">
    <mat-card-header>
      <mat-card-title>Acciones Rápidas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list class="actions-list">
        <mat-list-item >
          <mat-icon matListItemIcon class="action-icon blue">business_center</mat-icon>
          <div matListItemTitle>Gestión de Propiedades</div>
          <div matListItemLine>Registra, edita y administra el inventario</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon class="action-icon orange">groups</mat-icon>
          <div matListItemTitle>CRM de Clientes</div>
          <div matListItemLine>Mantén un registro de tus clientes</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon class="action-icon purple">bar_chart</mat-icon>
          <div matListItemTitle>Reportes y Analytics</div>
          <div matListItemLine>Obtén insights valiosos sobre tu negocio</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="grid-card cta-card">
    <mat-card-content>
      <h3>Encuentra la Propiedad Perfecta</h3>
      <p>Utiliza nuestras herramientas avanzadas para filtrar y encontrar exactamente lo que tus clientes necesitan.</p>
      <button mat-flat-button color="primary" routerLink="/dashboard/visualizacion/avanzada">
        Búsqueda Avanzada
      </button>
    </mat-card-content>
  </mat-card>

</div>
